<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.marsgroup.iplant">

    <!-- Picasso Library requires Net ,of course it need internet ,who doesn't these days -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for db export and import -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewItems" />
        <activity
            android:name=".plantpage"
            android:label="@string/title_activity_plantpage"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="e.marsgroup.iplant.HomeScreen" />
        </activity>
        <activity
            android:name=".TrackPlantedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_track_planted"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="e.marsgroup.iplant.HomeScreen" />
        </activity>

        <!--ALARM RECEIVER requirement ,yh we cant easily do it ,it needs something special ,defining it here -->
        <receiver
            android:name="e.marsgroup.iplant.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>